.ui.fluid.container
  .ui.grid.stackable
    .four.wide.column
      #dv1
        each key in keywords
          a.keyword(href="", onclick="keyToImg('" + key.keyword + "')") #{key.keyword} 
          | | 
      #dv2
    .four.wide.column
      #dv3
      #dv4
    .four.wide.column
      #dv5
      #dv6
    .four.wide.column
      #dv7
      #dv8
