.ui.fluid.container
  .ui.grid
    .four.wide.column
      #col01
        each key in keywords
          a.keyword(href="", onclick="keyToImg('" + key.keyword + "')") #{key.keyword} 
          | | 
    .four.wide.column
      #col02
        p This is the content
    .four.wide.column
      #col03
        p this is also the content
    .four.wide.column
      #col04
        p This is another content
